:root {
    --scale-factor: 1;  /* 初始值 */
    --eyeScaleX: 1;
    --eyeScaleY: 1;
}

.eye-button {
    width: 300px;
    height: 300px;
    background-color: #777;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: transform 0.5s ease, top 0.5s ease; /* 采用ease过渡效果，使动画更自然 */
}

.clicked {
    animation: clickAnimation 0.5s forwards, moveToTop 0.5s 0.5s forwards;
}

/* 点击时压扁 */
@keyframes clickAnimation {
    0%, 100% { transform: translate(-50%, -50%) scale(1, 1); }
    50% { transform: translate(-50%, -50%) scale(0.5, 1); }
}

/* 瞪眼效果 */
@keyframes enlargePupil {
    from {
      transform: scaleY(1) scaleX(1);
    }
    to {
      transform: scaleY(var(--eyeScaleY)) scaleX(var(--eyeScaleX)); /* 根据需要调整放大的尺寸 */
    }
}

/* 眼睛移动到上方 */
@keyframes moveToTop {
    0% { top: 50%; transform: translate(-50%, -50%) scale(calc(1 * var(--scale-factor))); }
    100% { top: 40%; transform: translate(-50%, -50%) scale(calc(0.5 * var(--scale-factor))); } /* 调整位置和缩放比例，确保不移出屏幕 */
}

.pupil {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 75px;
    transform: scaleY(calc(1 * var(--eyeScaleY))) scaleX(calc(1 * var(--eyeScaleX)));
    animation: blinkIdle 0.2s steps(2, start) 2s 2; /* 2s一次眨眼 */
}

/* 眨眼效果 */
@keyframes blinkIdle {
    0%, 100% { transform: scaleY(calc(1 * var(--eyeScaleY))) scaleX(calc(1 * var(--eyeScaleX))); }
    50% { transform: scaleY(calc(0.2 * var(--eyeScaleY))) scaleX(calc(1.2 * var(--eyeScaleX))); }
}
